{% extends 'base.html.twig' %}

{% block title %}Moderator{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Moderator Section</h1>
            <p>Block and unblock user accounts.</p>
        </div>
    </div>

    <div class="center-block">
    <table class="table table-bordered">
    <thead class="">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th class="text-center">Enabled</th>
        <th></th>
    </tr>
    </thead>
    {% for user in users %}
        <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            {% if user.enabled == 1 %}
                <td class="text-center"><p>&#10004;</p></td>
                <td>
                    <form action="{{ path('moderator_block_user') }}">
                        <input type="hidden" name="userId" value="{{ user.id }}">
                        <input class="btn btn-danger center-block" type="submit" value="Block">
                    </form>
                </td>
            {% else %}
                <td class="text-center"><p>&#x2717;</p></td>
                <td class="">
                    <form action="{{ path('moderator_unblock_user') }}">
                        <input type="hidden" name="userId" value="{{ user.id }}">
                        <input class="btn btn-primary center-block" type="submit" value="Unblock">
                    </form>
                </td>
            {% endif %}
        </tr>
        </tbody>
    {% endfor %}
    </table>
    </div>
{% endblock %}