{% block body %}
    <h1>Oops, looks like something went wrong</h1>
    <br>
    <h2><strong>{{ status_code }}</strong> {{ status_text }}</h2>
    <br>
    <h1> {{ exception.message }}</h1>
{% endblock %}