<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
        {% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
            'bundles/starrating/css/rating.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% block javascript %}
        {% javascripts
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
            '@StarRatingBundle/Resources/public/js/rating.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('book_review_core_homepage') }}">Sham's BRW</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{ render(controller('AppBundle:Post:search')) }}
                    <li><a href="{{ path('book_review_core_homepage') }}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Books
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('book') }}">All Books</a></li>
                            <li><a href="{{ path('book_genres') }}">View Book Genres</a></li>
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('book_create') }}">Add New Book Manually</a></li>
                                <li><a href="{{ path('book_search_title') }}">Add New Book With Title</a></li>
                                <li><a href="{{ path('book_search_isbn') }}">Add New Book With ISBN</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{{ path('book_review_core_about') }}">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin') }}"><strong>Admin Section</strong></a></li>
                    {% endif %}
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li><a href="{{ path('moderator_users') }}"><strong>Moderator Section</strong></a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                <li><a href="{{ path('api_client') }}">API</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login/Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <section class="col-md-12">
            {% block body %}{% endblock %}
        </section>
    </div>
    <hr>
    <div class="footer col-md-12">
        {% block footer %}
            <p style="text-align: center"><i>Mohammed Shamiual Hoque &copy; All Rights Reserved.</i></p>
        {% endblock %}
    </div>
</div>
</body>
</html>
