{% extends 'base.html.twig' %}

{% block title %}Api Client{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Api Client</h1>
        </div>
    </div>
{% endblock %}