{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="jumbotron; text-center">
        <h1 style="text-align: center">Register</h1>
        <p>Create an account so you can start leaving reviews on books</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            <div class="form-group">
            {{ form_row(form.email) }}
            </div>

            <div class="form-group">
            {{ form_row(form.username) }}
            </div>

            <div class="form-group">
            {{ form_row(form.firstName) }}
            </div>

            <div class="form-group">
            {{ form_row(form.plainPassword.first) }}
            </div>

            <div class="form-group">
                {{ form_row(form.plainPassword.second) }}
            </div>
        <hr>
        <div>
            <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        <hr>
        <div>
            <p>Already have an account, Click
                <a href="{{ path('fos_user_security_login') }}">Here</a>
                to Login.
            </p>
        </div>
    </div>
</div>
{{ form_end(form) }}