{% extends 'base.html.twig' %}

{% block title %}all reviews{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">All Reviews</h1>
        </div>
    </div>
    {% if reviews is empty %}
        <h3 class="text-center">There are no reviews for this book yet.</h3>
    {% else %}
        {% for review in reviews %}
            <div class="col-md-10">
                <p><i class="fa fa-2x fa-user"></i> {{ review.userId.username }}</p>
                <p>Date: {{ review.date|date("m/d/Y") }}</p>
                {{ review.rating|rating }}
                <p><strong>Comment:</strong></p>
                <p>{{ review.review }}</p>
            </div>
            {% if is_granted('ROLE_MODERATOR') %}
                <div class="col-md-2 text-center">
                    <form method="post" action="{{ path('delete_review') }}">
                        <input type="hidden" name="id" value="{{ review.id }}">
                        <input type="hidden" name="bookId" value="{{ review.bookId }}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

