{% extends 'base.html.twig' %}

{% block title %}Adding new book{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Book was added successfully</h1>
        </div>
    </div>

{% endblock %}