{% extends 'base.html.twig' %}

{% block title %}Book Review{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">{{ bookInfo.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% if bookInfo.googleApi %}
            <img
                class="center-block img-responsive"
                src="{{ bookInfo.image }}"
                alt="{{ bookInfo.title }} book cover"
            >
            {% else %}
                <img
                        class="center-block img-responsive"
                        src="{{ asset('uploads/book_covers/' ~ bookInfo.image) }}"
                        alt="{{ bookInfo.title }} book cover"
                >
            {% endif %}
        </div>
        <div class="col-lg-5">
            <h4>Synopsis:</h4>
            <p>{{ bookInfo.synopsis }}</p>
        </div>
        <div class="col-lg-3">
            <table class="table table-condensed">
                <thead class="">
                    <th class="text-center"><h3>Product Details</h3></th>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>ISBN:</strong> {{ bookInfo.isbn }}</td>
                    </tr>
                    <tr>
                        <td><strong>Publisher:</strong> {{ bookInfo.publisher }}</td>
                    </tr>
                    <tr>
                        <td><strong>Publish date:</strong> {{ bookInfo.publishDate|date("m/d/Y") }}</td>
                    </tr>
                    <tr>
                        <td><strong>Google Rating:</strong> {{ googleRating }} / 5</td>
                    </tr>
                    <tr>
                        <td><strong>Price:</strong>£{{ amount }}</td>
                    </tr>
                    <tr>
                        <td><strong>Buy Link:</strong><a href="{{ buyingLink }}">{{ buyingLink }}</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-condensed">
                <thead class="">
                <th class="text-center"><h4>Average Rating</h4></th>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"> {{ avgRating|rating }}</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-lg center-block" href="{{ path('book_user_review', {'bookId': bookInfo.id}) }}">Rate & Review</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1><strong>5 most recent reviews</strong></h1>
            <h4>To view all reviews click <a href="{{ path('book_all_reviews', {'bookId': bookInfo.id}) }}">here</a> </h4>
                {% if reviews is empty %}
                    <h3>There are no reviews for this book yet.</h3>
                {% else %}
                {% for review in reviews %}
                    <div class="col-md-10">
                    <p><i class="fa fa-2x fa-user"></i> {{ review.userId.username }} - {{ review.date|date("m/d/Y") }}</p>
                    {{ review.rating|rating }}
                    <p><strong>Comment:</strong></p>
                    <p>{{ review.review }}</p>
                    </div>
                    <hr>
                {% endfor %}
                {% endif %}
            </div>
    </div>
    </div>
{% endblock %}