{% extends 'base.html.twig' %}

{% block title %}Adding new book{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Books returned from search</h1>
            <p>Shows all the books returned from search.</p>
        </div>
    </div>

    {% if books is empty %}
        <h2>No Books where found from the search</h2>
    {% else %}
        <div class="row">
        {% for book in books %}
            <div class="col-sm-3">
                <figure>
                    <a href="{{
                        path('book_search_view', {
                            'isbn': book.isbn,
                            'title': book.title,
                            'publishDate' : book.publishDate,
                            'publisher' : book.publisher,
                            'author' : book.author,
                            'description' : book.description,
                            'categories' : book.categories,
                            'coverUrl' : book.coverUrl,
                        }) }}" >
                        <img
                                style=""
                                class="center-block"
                                src="{{ book.coverUrl }}"
                                alt="{{ book.title }} book cover"
                        >
                    </a>
                    <figcaption class="text-center">{{ book.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}