{% extends 'base.html.twig' %}

{% block title %}Adding new book{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Add new book</h1>
            <p>Add a new book, so others can review it.</p>
        </div>
    </div>

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form._token) }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.isbn) }}
            {{ form_errors(form.image) }}
         </div>
    {% endif %}

    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>

        <div class="form-group">
            {{ form_label(form.author) }}
            {{ form_widget(form.author, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.synopsis) }}
            {{ form_widget(form.synopsis, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.genre) }}
            {{ form_widget(form.genre, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
            </div>
        <div class="form-group">
            {{ form_label(form.isbn) }}
            {{ form_widget(form.isbn, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.publisher) }}
            {{ form_widget(form.publisher, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.format) }}
            {{ form_widget(form.format, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.pages) }}
            {{ form_widget(form.pages, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
            <div class="form-group">
                {{ form_row(form.publishDate) }}
            </div>

        {{ form_widget(form.submit, { 'attr': {
            'class' : 'btn btn-lg btn-default',
        }} ) }}
    </div>

    {{ form_start(form) }}
{% endblock %}