{% extends 'base.html.twig' %}

{% block title %}Books View{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">{{ genre }}</h1>
            <p>Leave a review on your favourite {{ genre }} books.</p>
        </div>
    </div>
    <div class="row">
        {% for book in pagination %}
            <div class="col-sm-3">
                <figure>
                    <a href="{{ path('book_review', {'bookId': book.id}) }}" >
                        <img
                                style=""
                                class="img-responsive"
                                src="{{ asset('uploads/book_covers/' ~ book.image) }}"
                                alt="{{ book.title }} book cover"
                        >
                    </a>
                    <figcaption class="text-center">{{ book.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

