{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Book Genres</h1>
            <p>Choose from your favourite book genres</p>
        </div>
    {% for genre in genreArray %}
        <div class="col-md-4 text-center">
            <a style="margin: 5px; width: 80%" type="button" class="btn btn-default" href="{{ path('book_genre_view', {'id':genre.id}) }}">{{ genre.genre }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

