{% extends 'base.html.twig' %}

{% block title %}Books View{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Books</h1>
            <p>These all are all we have to offer.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        {% for book in pagination %}
            <div class="col-sm-3">
                <figure>
                    <a href="{{ path('book_review', {'bookId': book.id}) }}" >
                        {% if book.googleApi %}
                            <img
                                    class="center-block img-responsive"
                                    src="{{ book.image }}"
                                    alt="{{ book.title }} book cover"
                            >
                        {% else %}
                            <img
                                    class="center-block img-responsive"
                                    src="{{ asset('uploads/book_covers/' ~ book.image) }}"
                                    alt="{{ book.title }} book cover"
                            >
                        {% endif %}
                    </a>
                    <figcaption class="text-center">{{ book.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}