{% extends 'base.html.twig' %}

{% block title %}Adding new book{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Add Book with ISBN</h1>
            <p>Add a new book, so others can review it.</p>
        </div>
    </div>

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(form,{'attr':
        {
            'action' : path('book_search_result')
        }} ) }}
    {{ form_row(form._token) }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.isbn) }}
        </div>
    {% endif %}

    <div class="col-lg-6">
        <div class="form-group">
            {{ form_label(form.isbn) }}
            {{ form_widget(form.isbn, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
    </div>

    {{ form_start(form) }}

{% endblock %}