{% extends 'base.html.twig' %}

{% block title %}user review{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Leave a Review</h1>
            <p>Tell us how you found this book. Please be honest.</p>
        </div>
    </div>
    <hr>
    {{ form_start(form) }}

    <div class="text-center">
        <div>
            <h2>{{ form_label(form.rating) }}</h2>
            {{ form_widget(form.rating) }}
        </div>

        <div class="text-center">
            <h2>{{ form_label(form.review) }}</h2>
            {{ form_widget(form.review, { 'attr': {
                'style' : 'width:80%',
                'rows' : '4',
             }} ) }}
        </div>

         <div class="btn">
            {{ form_row(form.sumbit) }}
         </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

