{% extends 'base.html.twig' %}

{% block title %}Adding new book{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img
                    class="center-block img-responsive"
                    src="{{ coverURl }}"
                    alt="{{ title }} book cover"
            >
        </div>
        <div class="col-lg-5">
            <h4>Synopsis:</h4>
            <p>{{ description }}</p>
        </div>
        <div class="col-lg-3">
            <table class="table table-condensed">
                <thead class="">
                <th class="text-center"><h3>Product Details</h3></th>
                </thead>
                <tbody>
                <tr>
                    <td><strong>ISBN:</strong> {{ isbn }}</td>
                </tr>
                <tr>
                    <td><strong>Publisher:</strong> {{ publisher }}</td>
                </tr>
                <tr>
                    <td><strong>Publish date:</strong> {{ publishDate }}</td>
                </tr>
                <tr>
                    <td><strong>Genre:</strong> {{ categories }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" href="{{
        path('book_search_add', {
            'isbn': isbn,
            'title': title,
            'publishDate' : publishDate,
            'publisher' : publisher,
            'author' : author,
            'synopsis' : description,
            'genre' : categories,
            'image' : coverURl,
        }) }}">
            Add Book
        </a>
    </div>
{% endblock %}