{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="jumbotron; text-center">
        <h1 style="text-align: center">Login</h1>
        <p>Login and start reviewing some books</p>
    </div>
</div>

{% if error %}
    <div class="alert alert-warning text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="form-check">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input class=" btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
        <hr>
        <div>
            <p class="text-center">Create an account. Click <a href="{{ path('fos_user_registration_register') }}">here</a></p>
        </div>
    </div>
</div>