{% extends 'base.html.twig' %}

{% block title %}Books View{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Results From Search "{{ searchString }}"</h1>
        </div>
    </div>

    <hr>

    {% if books is empty%}
        <h2>No Books where found from the search</h2>
    {% else %}
        <div class="row">
            {% for book in books %}
                <div class="col-sm-2">
                    <figure>
                        <a href="{{ path('book_review', {'bookId': book.id}) }}" >
                            {% if book.google_api %}
                            <img
                                    style=""
                                    class="img-responsive"
                                    src="{{ book.image }}"
                                    alt="{{ book.title }} book cover"
                            >
                            {% else %}
                                <img
                                        style=""
                                        class="img-responsive"
                                        src="{{ asset('uploads/book_covers/' ~ book.image) }}"
                                        alt="{{ book.title }} book cover"
                                >
                            {% endif %}
                        </a>
                        <figcaption class="text-center">{{ book.title }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

