{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div class="jumbotron; text-center">
        <h1 style="text-align: center">About Us</h1>
        <p>Everything you need to know about us.</p>
    </div>
    <hr>
{% endblock %}
