{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="jumbotron; text-center">
        <h1 style="text-align: center">Sham's Book Review Website</h1>
        <p>Where you would be able to leave reviews on you favourite books.</p>
    </div>
    <hr>

    <h3>Recently added books</h3>

    <div class="row">
        {% for book in books %}
            <div class="col-sm-2">
                <figure>
                    <a href="{{ path('book_review', {'bookId': book.id}) }}" >
                        {% if book.googleApi %}
                            <img
                                    class="center-block img-responsive"
                                    src="{{ book.image }}"
                                    alt="{{ book.title }} book cover"
                            >
                        {% else %}
                            <img
                                    class="center-block img-responsive"
                                    src="{{ asset('uploads/book_covers/' ~ book.image) }}"
                                    alt="{{ book.title }} book cover"
                            >
                        {% endif %}
                    </a>
                    <figcaption class="text-center">{{ book.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <h2>Best Selling Books in History</h2>
        {% for book in bestSellers  %}
            <h4>{{ book.title }}</h4>
        {% endfor %}
    </div>
{% endblock %}
